/*=========================================TAGS SEÇÕES====================================================*/
html,
body {
  margin: 0;
  min-height: 100vh;
}

body {
  background-image: url(/img/plano-hondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
ul {
  list-style: none;
}

header {
  text-align: center;
  background-color: rgb(0 0 0 / 0.9);
  padding: 0;
  margin: 0;
}

h2 {
  color: white;
}

a {
  color: orange;
}
/*=========================================TAGS CLASSES====================================================*/
.logo-principal {
  width: 200px;
}
.marcante {
  display: flex;
  width: 100%;
  justify-content: center;
}

.index-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 3rem;
}

.categoria h2 {
  margin-bottom: 0.8rem;
  color: white;
  font-size: 1.2rem;
}

.categoria ul {
  padding: 0;
  margin: 0;
}

.categoria li {
  margin-bottom: 0.4rem;
}
