/*=========================================TAGS SEÇÕES====================================================*/
ul {
  list-style: none;
}
main {
  background-image: url(/img/plano-hondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header {
  text-align: center;
  background-color: rgb(0 0 0 / 0.9);
  padding: 0;
  margin: 0;
}

h2 {
  color: white;
}

a {
  color: orange;
}

/*=========================================TAGS CLASSES====================================================*/
.logo-principal {
  width: 200px;
}
