/*=========================================TAGS SEÇÕES====================================================*/
html,
body {
  margin: 0;
  min-height: 100vh;
}

body {
  position: relative;
  min-height: 100vh;

  background-image: url(/img/plano-hondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.35); /* controla a transparência */
  pointer-events: none;
  z-index: -1;
}
ul {
  list-style: none;
}

header {
  display: flex;
  align-items: center; /* centraliza vertical */
  justify-content: center; /* centraliza horizontal */

  height: 70px; /* ajuste fino */
  background-color: rgba(0, 0, 0, 0.7);
}

h2 {
  font-family: "Fenix", serif;
  font-weight: bold;
  font-size: 40px;
  color: #ffffffde;
}

a {
  font-family: "Poppins", sans-serif;
  color: #da9631;
  font-size: 14px;
}
/*=========================================TAGS CLASSES====================================================*/
.logo-principal {
  height: 80px;
  width: auto;
}
.marcante {
  display: flex;
  width: 100%;
  justify-content: center;
}

.index-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 3rem;
}

.categoria h2 {
  margin-bottom: 0.3rem;
  color: white;
  font-size: 1.2rem;
}

.categoria ul {
  padding: 0;
  margin: 0;
}

.categoria li {
  margin-bottom: 1px;
}
